{% load django_vite %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="csrf-token" content="" />
        {% vite_hmr_client %}
        
        {% vite_react_refresh %}
        {% vite_asset 'js/main.jsx' %}
        
        <title>Django Inertia</title>
    </head>
    <body>
        {% block inertia %}{% endblock %}
    </body>
</html>
